.container
{
    width: 600px;
    margin: 0 auto;
}

header
{
    text-align: center;
}

nav
{
    width: 600px;
    height: 60px;

    text-align: center;
}

nav ul
{
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;

    list-style: none;

    border-radius: 10px;
    background-color: #ccc;
}

.stamp-type
{
    display: inline-block;

    width: 65px;
    height: 60px;
    margin: 0 10px;
    padding: 0;
}

.stamp-type-star
{
    background-image: url('../img/stamp_star.png');
}

.stamp-type-star.current
{
    background: url('../img/stamp_star.png'), url('../img/bg_glow.png');
}

.stamp-type-heart
{
    background-image: url('../img/stamp_heart.png');
}

.stamp-type-heart.current
{
    background: url('../img/stamp_heart.png'), url('../img/bg_glow.png');
}


.stamp-type-mickey
{
    background-image: url('../img/stamp_mickey.png');
}

.stamp-type-mickey.current
{
    background: url('../img/stamp_mickey.png'), url('../img/bg_glow.png');
}

.stamp-type-paw
{
    background-image: url('../img/stamp_paw.png');
}

.stamp-type-paw.current
{
    background: url('../img/stamp_paw.png'), url('../img/bg_glow.png');
}

.stamp-type-crown
{
    background-image: url('../img/stamp_crown.png');
}

.stamp-type-crown.current
{
    background: url('../img/stamp_crown.png'), url('../img/bg_glow.png');
}


#canvas
{
    position: relative;

    width: 600px;
    height: 460px;

    cursor: crosshair;

    background-image: url('../img/bg_paper.png');
}

.stamp-mark
{
    position: absolute;

    width: 37px;
    height: 37px;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.stamp-mark-star
{
    background-image: url('../img/stamp_mark_star.png');
}
.stamp-mark-heart
{
    background-image: url('../img/stamp_mark_heart.png');
}
.stamp-mark-mickey
{
    background-image: url('../img/stamp_mark_mickey.png');
}
.stamp-mark-paw
{
    background-image: url('../img/stamp_mark_paw.png');
}
.stamp-mark-crown
{
    background-image: url('../img/stamp_mark_crown.png');
}
